<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Contact Info</h4>
                        <p class="card-category"></p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="contactForm" (ngSubmit)="submitForm()" novalidate>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="User Id" formControlName="userId" disabled>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="User Name" formControlName="userName" disabled>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="First Name" formControlName="firstName">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Last Name" formControlName="lastName">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Birth Date</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="birthDate">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <div class="group-gap">
                                        <h5 class="mb-3">Gender</h5>
                                        <div class="d-block my-3">

                                            <div class="custom-control custom-radio">
                                                <input id="male" type="radio" class="custom-control-input" value="0"
                                                    name="gender" formControlName="gender">
                                                <label class="custom-control-label" for="male">Male</label>
                                            </div>

                                            <div class="custom-control custom-radio">
                                                <input id="female" type="radio" class="custom-control-input"
                                                    value="1" name="gender" formControlName="gender">
                                                <label class="custom-control-label" for="female">Female</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Submit -->
                            <div class="button-wrapper">
                                <button mat-flat-button class="btn btn-danger pull-right">Submit</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>