<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Role List</h4>
                        <!--<button type="button" class="btn btn-dark" data-dismiss="modal" (click) = "hideLogin()">Search</button>-->
                    </div>
                    <div class="card-body">
                        <div class="mat-elevation-z8">
                            <table mat-table [dataSource]="dataSource">
                          
                              <!-- Position Column -->
                              <ng-container matColumnDef="RoleId">
                                <th mat-header-cell *matHeaderCellDef> RoleId </th>
                                <td mat-cell *matCellDef="let element"> {{element.roleId}} </td>
                              </ng-container>
                          
                              <!-- Name Column -->
                              <ng-container matColumnDef="RoleName">
                                <th mat-header-cell *matHeaderCellDef> RoleName </th>
                                <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
                              </ng-container>

                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                          
                            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                           showFirstLastButtons 
                                           aria-label="Select page of periodic elements">
                            </mat-paginator>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  